#cloud-config
users:
  - name: admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/admin
    shell: /bin/bash
    ssh-authorized-keys:
      - ${SSH_PUBLIC_KEY}
ssh_pwauth: True
disable_root: false
chpasswd:
  list: |
     centos:linux
  expire: False
package_update: true
packages:
    - qemu-guest-agent
growpart:
  mode: auto
  devices: ['/']
